.feedback {
  padding: 64px 0px;
}

.feedback__container {
  display: flex;
  flex-direction: column;
  text-align: start;
}

.section-head {
  margin-bottom: 80px;
}

.section-title {
  font-weight: 700;
  font-size: 36px;
  letter-spacing: 0.01em;
  margin: 0px 0px 24px 0px;
}

.section-text {
  font-weight: 400;
  font-size: 18px;
  line-height: 160%;
  margin: 0;
}

.feedback__slider {
  max-height: 254px;
  width: 100%;
  margin-bottom: 48px;
  border: none;
  border-radius: 0;
  background-color: none;
}

.feedback-card {
  max-width: 287px;
  text-align: start;
  min-height: 254px;
}

.feedback-card__rating {
  margin-bottom: 24px;
  color: var(--color-text);
  text-align: start;
  width: 116px;
  display: inline-flex;
  align-items: center;
}

.feedback-card__rating .star-on-png,
.feedback-card__rating .star-off-png,
.feedback-card__rating .star-half-png {
  font-size: 20px;
  width: 20px;
  height: 20px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.feedback-card__text {
  font-weight: 500;
  font-size: 20px;
  line-height: 160%;
  margin-bottom: 24px;
  text-align: start;
}

.feedback-card__name {
  margin: 0;
  font-weight: 700;
  font-size: 16px;
  text-align: start;
}

.feedback__controls {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.feedback__buttons {
  display: flex;
  gap: 16px;
}

.feedback__button {
  width: 48px;
  height: 48px;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  background: #f2f2f2;
  cursor: pointer;
  transition:
    opacity 0.3s ease,
    background 0.3s ease,
    fill 0.3s ease;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.feedback__button-icon {
  display: block;
  fill: #080c09;
  transition: fill 0.3s ease;
}

.feedback__button:hover,
.feedback__button:focus {
  background: #975052;
}

.feedback__button:hover .feedback__button-icon,
.feedback__button:focus .feedback__button-icon {
  fill: #fff;
}

.feedback__button:active {
  background: #6b0609;
}

.feedback__button:active .feedback__button-icon {
  fill: #fff;
}

.feedback__button:disabled {
  background: #f2f2f2;
  opacity: 0.3;
}

.feedback__button:disabled .feedback__button-icon {
  fill: #080c09;
  opacity: 0.3;
}

.feedback__pagination .swiper-pagination-bullet {
  cursor: pointer;
  transition: opacity 0.3s ease;
  background-color: var(--color-text);
}

.feedback__pagination .swiper-pagination-bullet:hover,
.feedback__pagination .swiper-pagination-bullet:focus {
  opacity: 0.7;
}

@media (min-width: 768px) {
  .feedback {
    padding: 32px 0px;
  }
  .feedback-card {
    max-width: 293px;
    text-align: start;
  }
  .feedback-card__text{
    min-height: 160px;
  }
  .feedback__slider {
    max-height: 341px;
  }
}

@media (min-width: 1440px) {
  .feedback__slider {
    max-height: 221px;
    margin-bottom: 48px;
  }
  .feedback {
    padding: 64px 0px;
  }
  .feedback-card {
    max-width: 373px;
  }
  .feedback-card__text{
    min-height: 128px;
  }
}
