<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script type="module" src="../js/feedback/feedback.js"></script>
    <link rel="stylesheet" href="../../node_modules/css-star-rating/css/star-rating.css">
    <link rel="stylesheet" href="../css/base/common.css">
    <link rel="stylesheet" href="../css/base/container.css">
    <link rel="stylesheet" href="../css/base/variables.css">
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/layouts/feedback.css">
    

    
    
</head>
<body>
    <section class="feedback">
    <h2>Відгуки клієнтів</h2>
    <p>Дізнайтеся, що кажуть наші задоволені клієнти про нашу меблі.</p>
    
    <div class="swiper mySwiper">
        <ul class="swiper-wrapper feedback-list"></ul>
        <div class="feedback-pagination swiper-pagination"></div>
    </div>
    
    <div class="feedback-buttons">
        <button type="button" class="feedback-prev swiper-button-prev">
            <svg class="arrow" width="24" height="24">
                <use href="../img/feedbacks/left-arrow.svg"></use>
            </svg>
        </button>
        <button type="button" class="feedback-next swiper-button-next">
            <svg class="arrow" width="24" height="24">
                <use href="../img/feedbacks/right-arrow.svg"></use>
            </svg>
        </button>
    </div>
</section>
</body>
</html>